<h2>Por País</h2>

<div class="row">
    <div class="col">
        <!-- debemos escuchar el evento y por eso se colocan los paréntesis porque onEnter es un evento tipo eventemitter -->
        <app-pais-input (onEnter)="buscar($event)"></app-pais-input> 
    </div>
</div>

<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{termino}}
</div>

<div class="row" *ngIf="!hayError">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>