<table class="table table-hover" *ngFor="let item of paises">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{item.idd.root}}</td>
            <td>{{item.flag}}</td>
            <td>{{item.name.common}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', item.cca2]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>